.icon-browser-filters > form > div {
  display: flex;
  align-items: last baseline;
  gap: 1.5rem;
}

.icon-browser-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  .icon-wrapper {
    width: 72px;
    display: inline-block;
    margin: .25rem;

    a {
      display: block;
      text-align: center;
      text-decoration: none;

      .icon-name {
        color: unset;
        font-size: .7rem;
      }
    }

    .icon {
      width: 36px;
      margin: 0 auto;
    }
  }

  &[data-icon-size="small"] {
    .icon-wrapper .icon {
      width: 24px;
    }
  }

  &[data-icon-size="large"] {
    .icon-wrapper .icon {
      width: 48px;
    }
  }

  &[data-icon-size="xlarge"] {
    .icon-wrapper .icon {
      width: 56px;
    }
  }
}

.icon-browser {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .icon-detail {
    display: flex;

    .icon-image {
      width: 72px;
      margin-right: 1.5rem;
    }

    .icon-instructions {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
    }

    .icon-name,
    .icon-php,
    .icon-js,
    .icon-css {
      padding: 1rem;
      margin: 0 .5rem;
      width: max-content;
      max-width: 100%;
      min-width: 15%;
    }
  }

}

.gin {
  .icon-browser {
    .icon-detail {
      background-color: var(--gin-bg-app);
      border-radius: var(--gin-border-l);
      box-shadow: 0 6px 16px var(--gin-border-color-layer);

      .icon-instructions {


        .icon-name,
        .icon-php,
        .icon-js,
        .icon-css {
          background-color: var(--gin-bg-layer);
          margin: var(--gin-spacing-xs);
          border-radius: var(--gin-border-l);
          font-size: var(--gin-font-size-s);
        }
      }
    }
  }
}
