.icon-browser-filters > form > div {
  display: flex;
  align-items: last baseline;
  gap: 1.5rem;
}

.icon-browser-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;

  .icon-wrapper {
    width: 72px;
    display: inline-block;
    margin: .25rem;

    a {
      display: block;
      text-align: center;
      text-decoration: none;

      .icon-name {
        color: unset;
        font-size: .7rem;
      }
    }

    .icon {
      width: 36px;
      margin: 0 auto;

      svg {
        width: 36px;
        height: 36px;
      }
    }

    &.icon-error:before {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      margin: .5rem auto;
      background-color: #9C1D0D;
      mask-image: var(--icon-seal-warning-fill);
    }

  }

  &[data-icon-size="small"] {
    .icon-wrapper .icon {

      &,
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &[data-icon-size="large"] {
    .icon-wrapper .icon {

      &,
      & svg {
        width: 48px;
        height: 48px;
      }
    }
  }

  &[data-icon-size="xlarge"] {
    .icon-wrapper .icon {

      &,
      & svg {
        width: 64px;
        height: 64px;
      }
    }
  }
}

.icon-browser {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .icon-detail {
    display: flex;

    .icon-image {
      width: 72px;
      padding: 1.5rem 0;
      margin-right: 1.5rem;
      margin-left: .5rem;
      display: flex;

      svg {
        width: 64px;
        height: 64px;
        margin: 0 auto;
      }

      &.error {
        color: #9C1D0D;
      }
    }

    .icon-instructions {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
    }

    .icon-name,
    .icon-php,
    .icon-js,
    .icon-css {
      padding: 1rem;
      margin: 0 .5rem;
      width: max-content;
      max-width: 100%;
      min-width: 15%;
    }
  }
}

.gin {
  .icon-browser {
    .icon-detail {
      background-color: var(--gin-bg-app);
      border-radius: var(--gin-border-l);
      box-shadow: 0 6px 16px var(--gin-border-color-layer);

      .icon-image.error {
        color: var(--gin-color-danger);
      }

      .icon-instructions {

        .icon-name,
        .icon-php,
        .icon-js,
        .icon-css {
          background-color: var(--gin-bg-layer);
          margin: var(--gin-spacing-xs);
          border-radius: var(--gin-border-l);
          font-size: var(--gin-font-size-s);
        }
      }
    }

    .icon-wrapper.icon-error:before {
      background-color: var(--gin-color-danger);
    }
  }
}
